<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
        <div class='container'>
            <form action='/'>
                <h1>Here's your change!</h1>
                <h3>Quarters: {{quarters}}</h3>
                <h3>Dimes: {{dimes}}</h3>
                <h3>Nickles: {{nickles}}</h3>
                <h3>Pennies: {{pennies}}</h3>
                <button type='submit' class='btn btn-primary'>Back</button>
            </form>
        </div>
    </body>
</html>
