<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Coin Combinations</title>
    </head>
    <body>
        <div class='container'>
            <h1>Change Divider</h1>
            <form action='/coin_combination'>
                <div class='form-group'>
                    <label for="change">Enter amount in cents: </label>
                    <input id='change' name='change' input='number' class='form-control'>
                </div>
                <button type='submit' class='btn btn-primary'>Make Change</button>
            </form>
        </div>
    </body>
</html>
